.city-label {
  background: var(--ion-color-light);
}

input[type="radio"] {
  width: 16px;
  height: 16px;
}

.location-list {
  margin-top: -36px;
}

.image-upload {
  width: 100%;
  height: 200px;
  border-radius: 16px;
  margin-bottom: 16px;
  object-fit: cover;
  overflow: hidden;
}
