<ion-content fullscreen="true">
  <div class="container">
    <div class="logo-head" routerLink="/login" routerDirection="forward">
      <div class="logo"></div>
      <span class="logo-text">Discover the sharing economy</span>
    </div>

    <div class="main">
      <div id=container>
        Search
        <div id=flip>
          <div><p>Authentic Local Experiences</p></div>
          <div><p>Shared Goods &amp; Services</p></div>
          <div><p>Amazing things you can rent</p></div>
        </div>
        On GoShare360 &reg;
      </div>
      <div class="action-container">
        <div class="action" routerLink="/preview" routerDirection="forward">
          <h3>Preview</h3>
        </div>
        <div class="action" routerLink="/login" routerDirection="forward">
          <h3>Login</h3>
        </div>
      </div>
    </div>
  </div>
</ion-content>
