.scrape-card-vertical {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &-category {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &-title {
    width: 90%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
