<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start" class="app-w48">
      <ion-button class="ion-hide-sm-up" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CUSTOM GPS LOCATION</ion-title>
    <ion-buttons slot="end" class="app-w48">
      <ion-button class="ion-hide-sm-down" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding gps-modal-container">

    <ion-row class="gps-modal-map-box">
      <app-google-map class="mat-elevation-z4" #gpsModalMap [mapOptions]="mapOptions"></app-google-map>
      <mat-hint class="app-mt-8">Touch Map to choose location or Tap the "Use my location" button to add
        your location.
      </mat-hint>
      <mat-radio-group class="gps-radio-group" (change)="locationRadioChange($event)">
        <mat-radio-button value="private" checked>Private Location</mat-radio-button>
        <mat-radio-button value="public">Public Location</mat-radio-button>
      </mat-radio-group>
    </ion-row>

    <ion-row class="gps-modal-button-row">
      <button mat-raised-button color="primary" (click)="useMyLocation()">Use my location</button>
    </ion-row>

    <ion-row class="gps-modal-address-label">
      <ion-label class="ion-text-wrap">{{locationAddress}}</ion-label>
      <button mat-icon-button matSuffix aria-label="Clear" (click)="locationAddress=''" *ngIf="locationAddress">
        <mat-icon>close</mat-icon>
      </button>
    </ion-row>

    <mat-form-field class="app-w-100">
      <input matInput placeholder="Location Title" [(ngModel)]="locationTitle">
      <button mat-icon-button matSuffix aria-label="Clear" (click)="locationTitle=''" *ngIf="locationTitle">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="app-w-100">
            <textarea matInput placeholder="Describe the details about this stop." [(ngModel)]="locationDescription">
            </textarea>
      <button mat-icon-button matSuffix aria-label="Clear" *ngIf="locationDescription"
              (click)="locationDescription=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <ion-row class="gps-modal-icon-row">
      <ion-card class="mat-elevation-z2">
        <ion-img *ngIf="icon" [src]="icon"></ion-img>
        <ion-img *ngIf="!icon" src="/assets/crud/no-image.png" (click)="uploadMapIcon()"></ion-img>
        <input hidden type="file" id="gpsIconImageCropper" (change)="fileChangeEvent($event)">
      </ion-card>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="end" class="app-ph-8">
      <button mat-raised-button (click)="saveLocation()">Save location</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
