.my-pref {
  margin-top: 20px;
  background-color: #efefef;
  padding: 20px;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  overflow: hidden;
}

.user-pref {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #efefef;
  border-radius: 8px;
  overflow: hidden;
}

ion-list {
  background: transparent;
}
