<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start" class="app-w48">
      <ion-button class="ion-hide-sm-up" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Social Share</ion-title>
    <ion-buttons slot="end" class="app-w48">
      <ion-button class="ion-hide-sm-down" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-button color="primary" (click)="ShareFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="success" (click)="ShareWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="secondary" (click)="SendTwitter()">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button color="tertiary" (click)="SendInstagram()">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
